<!-- <p-confirmdialog /> -->
<form [formGroup]="frmRuta">
    <div class="card">
        <div class="flex flex-wrap items-start gap-4 mb-4">
            <!--  -->
            <p-floatlabel variant="on">
                <p-select appendTo="body" [style]="{ width: '350px' }" [options]="listaCatProveedor" optionLabel="proveedor" optionValue="idProveedor" formControlName="idProveedor" [filter]="true" />
                <label style="font-weight: bold">Proveedor </label>
            </p-floatlabel>
            <!--  -->

            <p-button label="Cargar" icon="pi pi-reply" (onClick)="cargaProveedorRutas()" class="mr-2" />
        </div>

        <p-table
            #dt
            [value]="listaProveedorRuta"
            [loading]="mostrarLoading"
            [rows]="4"
            [columns]="columnasTabla"
            [paginator]="true"
            class="table-auto w-full"
            [rowHover]="true"
            dataKey="idRuta"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
        >
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <h5 class="m-0"></h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" style="width: 350px" placeholder="Buscar" />
                    </p-iconfield>
                </div>
            </ng-template>

            <ng-template #header>
                <tr>
                    <th pSortableColumn="proveedor" style="font-weight: bold">
                        <span class="flex items-center gap-2">Proveedor <p-sortIcon field="proveedor" /> </span>
                    </th>
                    <th pSortableColumn="utilizada" style="font-weight: bold">
                        <span class="flex items-center gap-2">Utilizada <p-sortIcon field="utilizada" /> </span>
                    </th>
                    <th pSortableColumn="tipoUnidad" style="font-weight: bold">
                        <span class="flex items-center gap-2">T. Unidad <p-sortIcon field="tipoUnidad" /> </span>
                    </th>
                    <th pSortableColumn="origen" style="font-weight: bold">
                        <span class="flex items-center gap-2">Origen <p-sortIcon field="origen" /> </span>
                    </th>
                    <th pSortableColumn="destino" style="font-weight: bold">
                        <span class="flex items-center gap-2">Destino <p-sortIcon field="destino" /> </span>
                    </th>
                    <th pSortableColumn="clasificacion" style="font-weight: bold">
                        <span class="flex items-center gap-2">Clasificación <p-sortIcon field="clasificacion" /> </span>
                    </th>
                    <th pSortableColumn="tarifa" style="font-weight: bold">
                        <span class="flex items-center gap-2">Tarifa <p-sortIcon field="tarifa" /> </span>
                    </th>
                    <th pSortableColumn="comentario" style="font-weight: bold">
                        <span class="flex items-center gap-2">Comentario <p-sortIcon field="comentario" /> </span>
                    </th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template #body let-ruta>
                <tr>
                    <td>{{ ruta.proveedor }}</td>
                    <td>{{ ruta.utilizada }}</td>
                    <td>{{ ruta.tipoUnidad }}</td>
                    <td>{{ ruta.origen }}</td>
                    <td>{{ ruta.destino }}</td>
                    <td>{{ ruta.clasificacion }}</td>
                    <td>{{ ruta.tarifa }}</td>
                    <td style="width: 190px">{{ ruta.comentario }}</td>
                    <td>
                        <p-button icon="pi pi-plus" pTooltip="Registro Proveedor" severity="success" (onClick)="registroProveedorRuta(ruta)" [rounded]="true" raised rounded />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <!-- <br /> -->

    <span style="margin-right: auto; font-size: 20px; font-weight: bold"> Detalle Ruta </span>

    <div class="card">
        <p-table
            #dt2
            [value]="listaMatch"
            [rows]="4"
            [columns]="columnaTablaRuta"
            [paginator]="true"
            class="table-auto w-full"
            [rowHover]="true"
            dataKey="idSolicitud"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
        >
            <ng-template #header>
                <tr>
                    <th pSortableColumn="proveedor" style="font-weight: bold">
                        <span class="flex items-center gap-2">Proveedor <p-sortIcon field="proveedor" /> </span>
                    </th>
                    <th pSortableColumn="tipoUnidad" style="font-weight: bold">
                        <span class="flex items-center gap-2">T. Unidad <p-sortIcon field="tipoUnidad" /> </span>
                    </th>
                    <th pSortableColumn="origen" style="font-weight: bold">
                        <span class="flex items-center gap-2">Origen <p-sortIcon field="origen" /> </span>
                    </th>
                    <th pSortableColumn="destino" style="font-weight: bold">
                        <span class="flex items-center gap-2">Destino <p-sortIcon field="destino" /> </span>
                    </th>
                    <th pSortableColumn="clasificacion" style="font-weight: bold">
                        <span class="flex items-center gap-2">Clasificacion <p-sortIcon field="clasificacion" /> </span>
                    </th>
                    <th pSortableColumn="tarifa" style="font-weight: bold">
                        <span class="flex items-center gap-2">Tarifa <p-sortIcon field="tarifa" /> </span>
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-match>
                <tr>
                    <td>{{ match.proveedor }}</td>
                    <td>{{ match.tipoUnidad }}</td>
                    <td>{{ match.origen }}</td>
                    <td>{{ match.destino }}</td>
                    <td>{{ match.clasificacion }}</td>
                    <td>{{ match.tarifa }}</td>
                    <td>
                        <p-button icon="pi pi-trash" severity="danger" pTooltip="Registro Proveedor" (onClick)="borrarProveedorRuta($event, match)" [rounded]="true" raised rounded />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</form>
