<p-toast />

<form [formGroup]="frmEstado">

  <div class="card">
    <!--  -->
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (onClick)="agregarEstado()" />
      </ng-template>

      <ng-template #end>
        <!-- <p-button label="Export" icon="pi pi-upload" severity="secondary" /> -->
      </ng-template>

    </p-toolbar>

    <p-table #dt [value]="listaEstado" [loading]=mostrarLoading [rows]="10" [columns]="columnasTabla" [paginator]="true"
      class="table-auto w-full" [rowHover]="true" dataKey="idEstado" [rowsPerPageOptions]="[5, 10, 20]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

      <ng-template #caption>

        <div class="flex flex-wrap items-start">

          <p-floatlabel variant="on">
            <p-select [options]="listaCatPais" appendTo="body" class="w-60" [filter]="true" optionLabel="pais"
              optionValue="idPais" formControlName="idPais" />
            <label for="on_label">País</label>
          </p-floatlabel>

          <p-button label="Cargar" icon="pi pi-reply" class="ml-2" (onClick)="cargaInfo()" />

        </div>

        <div class="flex items-center justify-between">

          <h5 class="m-0"></h5>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar" />
          </p-iconfield>
        </div>
        
      </ng-template>

      <ng-template #header>
        <tr>
          <th pSortableColumn="pais">
            <span class="flex items-center gap-2">País
              <p-sortIcon field="pais" /> </span>
          </th>
          <th pSortableColumn="estado">
            <span class="flex items-center gap-2">Estado
              <p-sortIcon field="estado" /> </span>
          </th>
          <th pSortableColumn="siglas">
            <span class="flex items-center gap-2">Siglas
              <p-sortIcon field="siglas" /> </span>
          </th>

        </tr>
      </ng-template>

      <ng-template #body let-estado>
        <tr>
          <td>{{estado.pais}}</td>
          <td>
            <p-button type="button" label={{estado.estado}} (onClick)="modificarEstado(estado)" text />
          </td>

          <td>{{estado.siglas}}</td>
        </tr>
      </ng-template>



    </p-table>


  </div>
</form>